.container{
    background-color: none;
}

.mainbloc{
  height: 100vh;
  width: 100vw;
}

.lines {
  --one-third0: calc(100% / 6);
  --one-third1: calc((100% / 6) + 1px);
  --two-third0: calc(100% / 6 * 2);
  --two-third1: calc((100% / 6 * 2) - 1px);
  --three-third0: calc(100% / 6 * 3);
  --three-third1: calc((100% / 6 * 3) - 1px);
  --four-third0: calc(100% / 6 * 4);
  --four-third1: calc((100% / 6 * 4) - 1px);
  --five-third0: calc(100% / 6 * 5);
  --five-third1: calc((100% / 6 * 5) - 1px);

  --line-color: #061E41;

  min-height: 100vh;
  max-height: 100vh;
  background-image: 
    linear-gradient(90deg, transparent, transparent var(--one-third0), var(--line-color) var(--one-third1), transparent var(--one-third1)),
    linear-gradient(90deg, transparent, transparent var(--two-third1), var(--line-color) var(--two-third0), transparent var(--two-third0)),
    linear-gradient(90deg, transparent, transparent var(--three-third1), var(--line-color) var(--three-third0), transparent var(--three-third0)),
    linear-gradient(90deg, transparent, transparent var(--four-third1), var(--line-color) var(--four-third0), transparent var(--four-third0)),
    linear-gradient(90deg, transparent, transparent var(--five-third1), var(--line-color) var(--five-third0), transparent var(--five-third0));
  transform: translate3d(0, 0, 0);
}

.header{
  width: 100%;
  height: 5%;
  position: absolute;
}

.home-btn {
  width: fit-content;
  font-weight: 800;
  font-size: 28px;
  color: #061E41;

  margin-left: calc( var(--one-third0) - 4.7rem);
  margin-top: 48px;
}

.home-btn:hover{
  cursor: pointer;
}

.thick-underline {
  display: inline-block;
  text-decoration: none;
  border-bottom: 24px solid #edfef5;
  position: relative;
  z-index: -1;
  bottom: 16px;
  right: -40px;
  height: 16px;
  width: 80%;
}

h1{
  font-size: 72px;
}

/* This is for media query */

@media only screen and (max-width:480px) {
.lines {
  --one-third0: calc(100% / 3);
  --one-third1: calc((100% / 3) + 1px);
  --two-third0: calc(100% / 3 * 2);
  --two-third1: calc((100% / 3 * 2) - 1px);
  --three-third0: calc(100% / 3 * 3);
  --three-third1: calc((100% / 3 * 3) - 1px);

  --line-color: #061E41;

  min-height: 100vh;
  max-height: 100vh;
  background-image: 
    linear-gradient(90deg, transparent, transparent var(--one-third0), var(--line-color) var(--one-third1), transparent var(--one-third1)),
    linear-gradient(90deg, transparent, transparent var(--two-third1), var(--line-color) var(--two-third0), transparent var(--two-third0)),
    linear-gradient(90deg, transparent, transparent var(--three-third1), var(--line-color) var(--three-third0), transparent var(--three-third0)),
  transform: translate3d(0, 0, 0);
}
}

